<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <% if @user.id %>
    <h1>Welcome <%= @user.username %></h1>
    <h3>Your Balance: <%= Helpers.current_user(session).balance %>.0</h3>

    <% end %>
    <h4><a href="/logout">Log Out</a></h4>
  </body>
  <a href="/sessions/"
</html>
